<!--
___________________________________________________
___________________________________________________
__________________ ABOUT SECTION __________________
___________________________________________________
___________________________________________________
-->
<section id="about">
	<h4 class="white-skewed-headline"><mark>Creative Coding<br />for Newbies!</mark></h4>
	<article>
		{{ about | markdownify }}
	</article>
</section>

<!--
_________________________________________________________
_________________________________________________________
__________________ GET STARTED SECTION __________________
_________________________________________________________
_________________________________________________________
-->
<section id="get-started">
	<h4 class="white-skewed-headline"><mark>Get Started</mark></h4>
	<article>
			{{ get-started | markdownify }}
	</article>
</section>